<div class="se-widget" data-widget="Loz4dLm2A2"></div>
<script>
(function(d, s, id){
  SE_BASE = "b251a391.widgets.sphere-engine.com";
  SE_HTTPS = true;
  SE = window.SE || (window.SE = []);
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = (SE_HTTPS ? "https" : "http") + "://" + SE_BASE + "/static/sdk/sdk.min.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "sphere-engine-jssdk"));</script>

    <script src="/socket.io/socket.io.js"></script>


  <script>
var socket = io();
socket.on('message', function(data) {
  console.log(data);
});
  </script>
